/* .modalLayout {
    width: 50%;
    align-self: center;
} */

.cityState {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerBtns {
    margin-left: 3%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}